@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    section:not(#achievements), #about, #team, #contact {
        @apply px-4 py-6 space-y-4;
    }

    h2 {
        @apply text-2xl text-primary font-semibold;
    }

    h3 {
        @apply text-lg;
    }

    blockquote {
        @apply text-blue-500;
    }

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        vertical-align: -0.4em;
    }

    blockquote:after {
        color: #ccc;
        content: close-quote;
        font-size: 4em;
        line-height: 0.1em;
        /*margin-right: 0.25em;*/
        /*margin-bottom: 0.25em;*/
        vertical-align: -0.6em;
    }

    .feature__item {
        @apply text-center;
    }
    .feature__item-icon {
        @apply text-primary flex items-center justify-center;
    }

    .feature__item-icon-svg {
        @apply h-12 w-12;
    }

    .feature__item-number {
        @apply text-accent text-xl font-black;
    }

    .feature__item-text {
        @apply text-lg;
    }

    .benefit__items {
        @apply flex items-center space-x-4;
    }

    .benefit__item {
        @apply text-center w-full mx-auto py-4 px-8 rounded-lg shadow-lg bg-white;
        max-width: 220px;
        height: 240px;
    }

    .benefit__item-icon {
        @apply flex items-center justify-center text-accent;
    }

    .benefit__item-icon {}

    .benefit__item-icon-svg {
        @apply h-24 w-24
    }

    .benefit__item-text {
        @apply text-primary text-lg;
    }

    .process__item {
        @apply w-full flex justify-center items-center pb-6;
    }

    .process__item:not(:first-child) {
        @apply hidden;
    }

    .swiper-scrollbar {
        @apply bg-yellow-50 !important;
    }

    .swiper-scrollbar .swiper-scrollbar-drag {
        background-color: #fdb338;
    }

    .swiper {
        @apply mt-8 !important;
    }
}