@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  main section:not(#achievements),
  #about,
  #team,
  #contact {
    @apply w-full space-y-4 px-4 py-8 md:px-8 lg:py-16 lg:px-[calc((100vw-1024px)/2)];
  }

  #achievements {
    @apply py-16 lg:py-32 lg:px-[calc((100vw-1024px)/2)];
  }

  header {
    @apply lg:px-[calc((100vw-1024px)/2)];
  }

  nav ul li a {
   @apply border-b-accent px-2 py-1 transition-colors duration-200;
  }

  nav ul li:not(.active) a {
    @apply hover:border-b-4 hover:text-primary;
  }

  nav ul li.active a {
    @apply bg-primary text-white rounded;
  }

  #about {
    @apply pb-16;
  }

  h2 {
    @apply text-center text-2xl lg:text-4xl font-semibold text-primary md:text-left;
  }

  h3 {
    @apply text-center text-lg font-semibold text-slate-500;
  }

  label {
    @apply block;
  }

  input {
    @apply h-12 w-full rounded p-2 lg:text-sm;
  }

  .sms-sender {
    @apply mt-8 rounded bg-accent px-4 py-2 uppercase tracking-wide;
  }

  .logo-link {
    @apply flex items-center space-x-2;
  }

  .logo-img {
    @apply h-auto;
  }

  .logo-text {
    @apply font-brand text-4xl font-bold text-primary;
  }

  #mobile-nav ul li a {
    @apply px-4;
  }

  #hero {
    @apply relative;
    /*background-image: url("./images/hero-bg.jpg");*/
    /*@apply h-[320px] flex items-center bg-cover bg-center backdrop-blur-[1px] backdrop-opacity-60;*/
    @apply flex h-[320px] items-center lg:items-start lg:h-[calc(100vh-4rem)];
  }

  .feature__item {
    @apply text-center;
  }
  .feature__item-icon {
    @apply flex items-center justify-center text-primary;
  }

  .feature__item-icon-svg {
    @apply h-12 w-12 md:h-24 md:w-24;
  }

  .feature__item-number {
    @apply text-xl font-black text-accent md:text-3xl;
  }

  .feature__item-text {
    @apply text-lg md:text-xl;
  }

  .benefit__items {
    @apply flex items-center space-x-4;
  }

  .benefit__item {
    @apply mx-auto w-full rounded-lg bg-white px-8 text-center shadow-lg flex justify-center items-center m-4;
    max-width: 220px;
    height: 200px;
    position: relative;
    border-top-right-radius: 5rem;
  }

  .benefit__item-icon {
    @apply absolute top-0 right-0 -translate-y-2 translate-x-2 flex items-center justify-center text-accent;
  }

  .benefit__item-icon-svg {
    @apply h-16 w-16;
  }

  .benefit__item-text {
    @apply text-lg text-primary;
  }

  .process__item {
    @apply flex w-full items-center justify-center pb-6;
  }

  .process__item:not(:first-child) {
    @apply hidden;
  }

  .swiper-scrollbar {
    @apply bg-yellow-50 !important;
  }

  .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #fdb338;
  }

  .swiper {
    @apply mt-8 !important;
  }

  #testimonial figure {
    @apply mx-2 mx-auto mt-4 mb-12 flex w-full max-w-sm flex-col items-center rounded pt-4 pb-8 shadow-md;
  }

  #testimonial figure blockquote {
    @apply mb-4 min-h-[240px] px-4 italic text-primary;
  }

  #testimonial figure blockquote span {
    @apply relative inline-block text-6xl text-accent;
  }

  #testimonial figure blockquote span:first-child {
    @apply top-5;
  }
  #testimonial figure blockquote span:nth-child(2) {
    @apply top-10 -mt-8;
  }
  #testimonial figure img {
    @apply mb-4 h-32 w-32 rounded-full border-2 border-primary shadow-md;
  }

  #testimonial figure figcaption span:first-child {
    @apply text-center;
  }

  #testimonial figure figcaption span:first-child {
    @apply block text-2xl font-black tracking-wide text-primary;
  }

  #testimonial figure figcaption span:nth-child(2) {
    @apply text-lg;
  }

  #team section {
    @apply space-y-4 md:space-y-0 lg:py-4;
  }

  #team figure {
    @apply rounded bg-slate-100 p-1 shadow-md md:w-1/2 md:w-80 mt-4;
  }

  #team figure img {
    @apply rounded;
  }

  #team figure figcaption {
    @apply bg-white bg-slate-100 py-4;
  }

  #team figure figcaption h4 {
    @apply text-center text-xl font-black tracking-wide text-primary;
  }

  #team figure figcaption h5 {
    @apply text-center font-semibold text-slate-600;
  }

  #team figure figcaption a {
    @apply mt-2 flex justify-center text-linkedin;
  }

  #team figure figcaption svg {
    @apply h-6 w-6 fill-current;
  }

  footer h2 {
    @apply text-left text-2xl text-slate-600 mb-4;
  }

  address {
    @apply not-italic;
  }

  footer address a {
    @apply flex items-center py-1 justify-center md:justify-start;
  }

  footer address a span {
    @apply mr-2 inline-block text-primary;
  }

  footer main {
    @apply text-primary lg:max-w-7xl lg:mx-auto;
  }

  footer main li a {
    @apply whitespace-nowrap;
  }

  #social svg {
    @apply h-8 w-8 fill-current;
  }

  .google-play-button-img {
    @apply w-48 lg:w-60;
  }
}
